@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}


.topSideBar{
    background:  linear-gradient(to right, rgb(36, 66, 219), rgb(103, 111, 216));  ;
    color: white;
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 0 10px 10px 0 ;
}




.header{
    margin: 0%
}

.SpacerHeight{
    height: 150px;
}

.LogAndSignBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    background-color: rgb(167, 178, 194)
}
.FlexableContainerVertical{
    display: flex;
    flex-direction: column;
}

.FlexableContainerHorizontal{
    display: flex;
    flex-direction: row;
}

