@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind daisyui;
*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    /* overflow-x: hidden; */
}


li{
    margin: 0%;
    padding: 0%;
}

.overflow-x{
    overflow-x: hidden;
}


.dropdown{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}
.dropdown.active {
    display: block;
  }
.topSideBar{
    background:  linear-gradient(to right, rgb(36, 66, 219), rgb(103, 111, 216));  ;
    color: white;
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 0 10px 10px 0 ;
}




.header{
    margin: 0%
}

.SpacerHeight{
    height: 70px;
}


.FlexableContainerVertical{
    display: flex;
    flex-direction: column;
}

.FlexableContainerHorizontal{
    display: flex;
    flex-direction: row;
}

.Stack{
    display: -moz-inline-stack;
}
