.cardField {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    /* align-items: center;  */
    height: 100%;
    width: 100%;
    /* margin: 10px; */
    /* justify-content: center; */
  }
  
  .Card {
    margin: 30px; 
    width: 100%; 
    max-width: 250px; 
    position: relative;
    height: 300px;
    box-sizing: border-box;
    box-shadow: 0 0.4em 0.7em rgba(0, 0, 0, 0.3);
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
  }
  
  .cardHeader{
    /* border: 2px solid, rgb(135, 154, 175); */
   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 20%;
    font-weight: bold;
    font-size: 30px;
    border: 3px solid rgb(192, 215, 241); 
    border-bottom: 2px solid  rgb(135, 154, 175);
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(192, 215, 241);
    
  }

  .CardTagsField{
    display: flex; 
    flex-wrap: wrap;
   
    width: 100%;
    height: fit-content;
    margin: 5px;
    margin-top: 10px;
    
  }

  .CardDescription{
    margin: 5px;
    padding: 5px;
    border: 2px solid rgb(135, 154, 175);
    border-radius: 5px;
    color : black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    
  }

  .CardBottom{

    display: flex;
    height: fit-content;
    width: 100%;
    /* margin: 5px; */
    position: absolute;
    bottom: 0;
    
  }

  .CardViewButton{
    height: 50px;
    width: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(135, 154, 175);
    color: white;  
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0.4em 0.7em rgba(0.2, 0.2, 0.2, 0.2);
    margin : 8px;
    margin-left: 70px;
  }

  .CardViewButton:hover{
    background: white;  
    color: black;
    border-color: rgb(135, 154, 175);
  }

  .CardRating{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    width: 60px;
  }

  .CardRatingGrade{
    font-family: 'Times New Roman', Times, serif;
    /* font-weight: bold; */
    font-size: 20px;
    margin : 2px
  }

  

  
/*   
  @media (max-width: 1200px) {
    .cardField .Card {
      width: calc(50% );
    }
  }
  
  @media (max-width: 992px) {
    .cardField .Card {
      width: calc(33.33% - 20px); 
    }
  }
   */
  @media (max-width: 768px) {
    .Card {
      margin: 30px; 
      width:  350px; 
      position: relative;
      height: 300px;
      box-sizing: border-box;
      box-shadow: 0 0.4em 0.7em rgba(0, 0, 0, 0.3);
      border: 2px solid black;
      border-radius: 20px;
    }
  }
  