


header{
    margin: 0;
   
}


li{
    margin: 0%;
    padding: 0%;
}

.closedSideBar{
    
    /* background:  linear-gradient(to right, rgb(131, 121, 197), rgb(89, 97, 211));   */
    position: relative;
    z-index: 10;
    background:white;
    color: black;
    height: 100px;
    width: 100%;    
    transition: all 0.5s;
    border-bottom: 2px solid ;
    border-color: rgb(197, 218, 242);
    /* border-radius: 0px 0px 10px 10px; */
    /* box-shadow: 0 0.4em 0.7em rgba(0, 0, 0, 0.3); */
    display: flex;
    
}


.closedSideBarText{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    width: fit-content;
    /* padding-bottom: 5px; */
    height: 100%;
    margin-left: 30px;
    color: black;
    
}

.ProfileIcon{
    display: flex;
    align-items: center;
    font-size: 35px;
    /* margin-top: 13px; */
    margin-right: 15px ;
    height: 100%;
}

.MenuIcon{
    display: flex;
    align-items: center;
    font-size: 30px;
    /* margin-top: 13px; */
    margin-right: 15px ;
    height: 100%;
}

/* .sideBar{
    position: absolute;
    right: 0;
    margin-right: 5px;
    margin-top: 5px;
    background: transparent;
    z-index: 1;
    color: #fff;
    height: 400px;;
    width: 250px;
    transition: all 0.5s;
} */

.NavBarField{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    height: 100%;
    /* background-color: red; */

}

.NavBarButtons{
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 50px;
    color : black;
    transition: color 0.5s ease;
    transition: background-color 2.5 easy;
}   

.NavBarButtons:hover{
    /* border: 0.1px solid rgb(250, 250, 250); */
    /* padding: 5px;  */
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
    color : rgb(101, 116, 134)
}


.sideBar{
    display: flex;
    position: absolute;
    left: 0;
    /* background: transparent; */
    z-index: 1;
    margin-right: 5px;
    margin-top: 5px;
    height: fit-content;
    width: 250px;
    color: black;
    background: white;
    border-radius: 10px;
    border: 2px solid;
    border-color: rgb(135, 154, 175);
    flex-direction: column;
    box-shadow: 0 0.4em 0.7em rgba(0.3, 0.3, 0.3, 0.3);
    transition: all 0.5s;
    padding-bottom: 10px;
}

.profileSideBar{
    display: flex;
    position: absolute;
    right: 0;
    /* background: transparent; */
    z-index: 1;
    margin-right: 5px;
    margin-top: 5px;
    height: fit-content;;
    width: 250px;
    color: black;
    background: white;
    border-radius: 10px;
    border: 2px solid;
    border-color: rgb(135, 154, 175);
    flex-direction: column;
    box-shadow: 0 0.4em 0.7em rgba(0.3, 0.3, 0.3, 0.3);
    transition: all 0.5s;
}


.SideBarButton{
    background: white;  
    /* background: linear-gradient(to right, white, rgb(226, 217, 229)); */
    color: black;
    height: 50px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 5%;
    padding-left: 5%;
    justify-content: center;
    border: 2px solid;
    border-color: rgb(135, 154, 175);
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0.4em 0.7em rgba(0.2, 0.2, 0.2, 0.2);
}


.SideBarButton:hover{
    background: rgb(135, 154, 175);
    color: white;  
    border: 2px solid black;
}




.SignOutButton{
    background: rgb(192, 215, 241);
    color: black;  
    margin-bottom: 5%;
    height: 50px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 11%;
    padding-left: 5%;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0.4em 0.7em rgba(0.3, 0.3, 0.3, 0.3);
   
}

.SignOutButton:hover{
    background:  white;;  
    color: black;
    border: 2px solid rgb(135, 154, 175);
}


.SearchBarField{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: relative;
    
}

.iconInsideSearch{
    position: absolute;
    right: 0;
    font-size: 30px;
    margin-right: 15px;
    color: rgb(135, 154, 175);
    font-weight: bold;
}

.SearchBar{
    width: 250px;
    height: 50px;
    margin: 10px; 
   
    /* margin-bottom: 20px; */
    color: rgb(135, 154, 175);
    border-color: rgb(135, 154, 175);;
    font-size: 20px;
    font-family:  'Courier New', Courier, monospace;
    transition: width 0.7s ease;
}




.SearchBar:hover{
    width: 350px;
}


.filterButton{
    height:35px;
    width: fit-content;
    border: 2px solid rgb(135, 154, 175);
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    padding: 10px;
    position: relative;
}

.filterDropDown{
    height: 10px;

    width: 100px;
    position: absolute;
    bottom: 1;

}


@media screen and (max-width : 1250px) {
    .closedSideBarText{
        width: 100%;
    }
    .MenuIcon{
        margin-left: 5px;
        margin-right: 5px;
    }

}

@media screen and (max-width : 780px) {

    .closedSideBar{
        height: 65px;
    
    }

    .closedSideBarText{
        width: 100%;
        font-size: 35px;
        justify-content: center;
        padding-right: 20px;
    }
    .MenuIcon{
        font-size: 25px;
        margin-left: 13px;
        margin-right: none;
    }

  
    #SearchIconBox{
        display: flex;
        align-items: center;
        width: fit-content;
        height: 100%;
        margin-right: 15px;
        color: rgb(135, 154, 175);
    }

    #SearchIcon{
        font-size: 30px;
    }

    #NotSearchIcon{
        font-size: 30px;
        color: rgb(87, 40, 40);
    }

    .SearchBarField{
        margin-right: 0px;
       
    }

    .SearchBar{
        width: 300px;
    }
}
